<%-include('./layout/header') %>


<form action="/insert" method="post"  enctype="multipart/form-data">
    <label for="">Name</label>
    <input type="text" name="name" id=""> <br> 
    <label for="">Password</label>
    <input type="text" name="pass" id=""> <br> 
    <label for="">Email</label>
    <input type="text" name="email" id=""> <br> 
    <label for="">USERID</label>
    <input type="text" name="userid" id=""> <br> 
    <label for="">Image</label>
    <input type="file" name="img"> <br> <br>

    <button>Submit</button>
</form>

</body>
</html>