<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>  
    
    <link rel="stylesheet" href="./public/css/index.css">
    <link rel="stylesheet" href="./public/css/reg.css">
    <link rel="stylesheet" href="./public/css/detail.css">
</head>
<body>
    <nav class="nav">
        <ul>
            <li class="li">
                <a href="/">Home</a>
            </li>
            <li class="li">
                <a href="/reg">Register</a>
            </li>
            <li class="li">
                <a href="detail">Details</a>
            </li>
            <li class="li"></li>
        </ul>
    </nav>
